<!-- <div class="header"> -->
	<!-- <label class="title">
        <a href="#!/" class="anchor-no-decoration">
            <img class="big-logo" src="images/knexaa-white.png" alt="KNEXAA Logo" />
            <img class="small-logo" src="images/knexaa-logo-ball.png" alt="KNEXAA Logo" />
        </a>
	</label> -->

    <!-- The Thin version of the header -->
    <div class="header thin-header">
        <a href="#!/" class="anchor-no-decoration">
            <img class="small-logo" src="images/knexaa-logo-ball.png" alt="KNEXAA Logo" />
        </a>

        <div class="header-border-below"></div>
    </div>


    <!-- The Thick version of the header -->
    <div class="header thick-header">
        <a href="#!/" class="anchor-no-decoration">
            <img class="big-logo" src="images/knexaa-white.png" alt="KNEXAA Logo" />
        </a>

        <!-- <div class="header-border-below"></div> -->
    </div>



    <!-- <i class="fa fa-share-alt-square share-btn" aria-hidden="true" data-ng-click="mvm.showSocialIcons = !mvm.showSocialIcons"></i> -->

    <!-- <div class="social-icon-group" data-ng-class="!!mvm.showSocialIcons ? 'show-now': ''">
        <i class="fa fa-facebook-square"></i>
        <i class="fa fa-twitter-square"></i>
        <i class="fa fa-google-plus-square"></i>
        <i class="fa fa-linkedin-square"></i>
        <i class="fa fa-envelope"></i>       
    </div> -->

    
<!-- </div> -->
