@font-face {
  font-family: 'DancingScript-Bold';
  src: url('DancingScript-Bold.eot');
  src: url('DancingScript-Bold.woff2') format('woff2'),
       url('DancingScript-Bold.woff') format('woff'),
       url('DancingScript-Bold.ttf') format('truetype'),
       url('DancingScript-Bold.svg#DancingScript-Bold') format('svg'),
       url('DancingScript-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

